NODE_ENV=development
DATABASE_URL=postgresql://abdcshare:abdcshare@localhost:5432/abdcshare
REDIS_URL=redis://localhost:6379
RESEND_API_KEY=
EMAIL_FROM="ABDC Share <no-reply@example.com>"
WEB_APP_URL=http://localhost:3000
